body {
  background-color: #ADC2A9;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 30%;
}
h1 {
  color: blue;
}
h2 {
  color: blue;
}
h3 {
  color: blue;
}
